.elementor-12026 .elementor-element.elementor-element-2a03db38 > .elementor-container{max-width:1800px;min-height:96px;}.elementor-12026 .elementor-element.elementor-element-2a03db38 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-12026 .elementor-element.elementor-element-7ee7e64d.elementor-column > .elementor-widget-wrap{justify-content:space-between;}.elementor-12026 .elementor-element.elementor-element-7ee7e64d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-12026 .elementor-element.elementor-element-7ee7e64d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-12026 .elementor-element.elementor-element-7ee7e64d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-25b18cc );}.elementor-12026 .elementor-element.elementor-element-7ee7e64d > .elementor-element-populated{border-style:solid;border-width:1px 1px 1px 1px;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:12px 12px 12px 12px;}.elementor-12026 .elementor-element.elementor-element-7ee7e64d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12026 .elementor-element.elementor-element-ddf3e36{text-align:left;width:75%;max-width:75%;align-self:flex-end;}.elementor-12026 .elementor-element.elementor-element-ddf3e36 .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:500;line-height:20px;}.elementor-12026 .elementor-element.elementor-element-539aed7 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:700;line-height:15px;fill:var( --e-global-color-25b18cc );color:var( --e-global-color-25b18cc );background-color:var( --e-global-color-primary );border-radius:0px 0px 0px 0px;padding:8px 24px 7px 24px;}.elementor-12026 .elementor-element.elementor-element-539aed7 .elementor-button:hover, .elementor-12026 .elementor-element.elementor-element-539aed7 .elementor-button:focus{color:var( --e-global-color-primary );background-color:#194876D9;}.elementor-12026 .elementor-element.elementor-element-539aed7 .elementor-button:hover svg, .elementor-12026 .elementor-element.elementor-element-539aed7 .elementor-button:focus svg{fill:var( --e-global-color-primary );}.elementor-12026 .elementor-element.elementor-element-539aed7{width:initial;max-width:initial;}#elementor-popup-modal-12026 .dialog-message{width:100vw;height:auto;padding:0px 0px 24px 24px;}#elementor-popup-modal-12026{justify-content:flex-start;align-items:flex-end;}#elementor-popup-modal-12026 .dialog-widget-content{animation-duration:1.2s;background-color:#22222200;border-radius:0px 0px 0px 0px;margin:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-12026 .elementor-element.elementor-element-ddf3e36 .elementor-heading-title{font-size:12px;line-height:18px;}}@media(min-width:768px){.elementor-12026 .elementor-element.elementor-element-7ee7e64d{width:35%;}.elementor-12026 .elementor-element.elementor-element-da3952e{width:64.666%;}}@media(max-width:1024px) and (min-width:768px){.elementor-12026 .elementor-element.elementor-element-7ee7e64d{width:50%;}.elementor-12026 .elementor-element.elementor-element-da3952e{width:50%;}}@media(max-width:767px){.elementor-12026 .elementor-element.elementor-element-7ee7e64d > .elementor-element-populated{padding:13px 13px 13px 13px;}.elementor-12026 .elementor-element.elementor-element-ddf3e36{text-align:left;}.elementor-12026 .elementor-element.elementor-element-ddf3e36 .elementor-heading-title{font-size:10px;line-height:10px;}#elementor-popup-modal-12026 .dialog-message{width:100vw;padding:0px 0px 0px 0px;}#elementor-popup-modal-12026{justify-content:flex-start;align-items:flex-end;}#elementor-popup-modal-12026 .dialog-widget-content{margin:0px 0px 0px 0px;}}/* Start custom CSS for button, class: .elementor-element-539aed7 */.white-sweep .elementor-button-icon svg{
	transform: rotate(0deg);
	margin-left: -0.5px;
	height: 9px;
	fill: #F04924;
}

.white-sweep {
  background-color: #E4E4E400;
  border-radius:0px !important;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}

.white-sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E4E4E4;
  border-radius:0px !important;
  
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.white-sweep:hover:before, .white-sweep:focus:before, .white-sweep:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}/* End custom CSS */